.list-component::-webkit-scrollbar {
    display: none;
}

.list-component {
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    overflow: scroll;
	overflow-x: hidden;
	scrollbar-width: none;
}

.list-component.search-active {
    position: relative; 
    top: 30px;
    z-index: 1005;
    height: calc(100vh - 30px);
}

ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
}

li {
    background-color:rgb(148, 76, 123);
    height: 100px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
}

li.selected {
    background-color: rgb(167, 92, 138);
}

.mask {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100vh;
}

.mask.search-active {
    z-index: 1004;
}

.active-search-input-container {
    z-index: 1005;
    position: absolute;
}
